<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/logs/internal-nlog.txt">

	<variable name="service-name" value="gateway" />

	<targets>
		<target name="logs-file"
				xsi:type="File"
				fileName="${basedir}/logs/${service-name}_${shortdate}.log"
				archiveFileName="${basedir}/logs/archive/${service-name}_${shortdate}.log"
				archiveEvery="Day"
				maxArchiveFiles="31"
				encoding="utf-8">

			<layout xsi:type="JsonLayout" includeAllProperties="true">
				<attribute name="level" layout="${level:uppercase=true}" />
				<attribute name="logger" layout="${logger:shortName=true}" />
				<attribute name="message" layout="${message}" />
				<attribute name="exception" layout="${exception:format=ToString}" />
				<attribute name="timestamp" layout="${date:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}" />
				<attribute name="service" layout="${service-name}" />
			</layout>
		</target>

		<target name="console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
				layout="${date:format=HH\:mm\:ss} | ${level:uppercase=true} | ${logger:shortName=true} | ${message}">

			<highlight-word foregroundColor="White" ignoreCase="false" text="TRACE" />
			<highlight-word foregroundColor="DarkGray" ignoreCase="false" text="DEBUG" />
			<highlight-word foregroundColor="Green" ignoreCase="false" text="INFO" />
			<highlight-word foregroundColor="Yellow" ignoreCase="false" text="WARN" />
			<highlight-word foregroundColor="Red" ignoreCase="false" text="ERROR" />
			<highlight-word foregroundColor="Red" backgroundColor="White" ignoreCase="false" text="FATAL" />
		</target>
	</targets>

	<rules>
		<logger name="Ocelot.*" minlevel="Info" writeTo="console" />
		<logger name="Ocelot.*" minlevel="Debug" writeTo="logs-file" />

		<logger name="gateway" minlevel="Info" writeTo="console" />
		<logger name="gateway" minlevel="Debug" writeTo="logs-file" />

		<logger name="not-configured-service-name" minlevel="Trace" writeTo="console" />
		<logger name="not-configured-service-name" minlevel="Trace" writeTo="logs-file" />
	</rules>
</nlog>