<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

	<variable name="service-name" value="tasks-service" />

	<targets>
		<target name="logs-file"
				xsi:type="File"
				fileName="${basedir}/logs/${service-name}_${shortdate}.log"
				archiveFileName="${basedir}/logs/archive/${service-name}_${shortdate}.log"
				archiveEvery="Day"
				maxArchiveFiles="31"
				encoding="utf-8">

			<layout xsi:type="JsonLayout" includeAllProperties="true">
				<attribute name="level" layout="${level:uppercase=true}" />
				<attribute name="logger" layout="${logger:shortName=true}" />
				<attribute name="message" layout="${message}" />
				<attribute name="exception" layout="${exception:format=ToString}" />
				<attribute name="timestamp" layout="${date:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}" />
			</layout>
		</target>

		<target name="console"
				xsi:type="ColoredConsole"
				layout="${date:format=HH\:mm\:ss} | ${level:uppercase=true} | ${logger:shortName=true} | ${message}" />
	</targets>

	<rules>
		<logger name="tasks-service" minlevel="Info" writeTo="console" />
		<logger name="tasks-service" minlevel="Debug" writeTo="logs-file" />

		<logger name="Microsoft.*" minlevel="Warn" writeTo="logs-file" final="true" />
	</rules>
</nlog>